html {
  font-size: 14px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Raleway', sans-serif; 
  background-color: #FFFF;
  text-align:center;
  color: #03032C;
 }

.titles {
	font-size: 24px;
  font-weight: bold;
	letter-spacing: 1px; 
	text-align: center;
  padding: 1px;
}

.titles a {
  text-decoration: none;
  color: #808080;
  font-size: 18px;
  font-weight: normal;
}

.text {
	font-size: 16px;
  text-align: center;
	line-height: 2;
	font-family: 'Raleway', sans-serif;
  padding: 5px;
}

.madi {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  padding: 5px;
  border-radius: 10px;
}

.social {
  display: inline;
  height: 300px;
  width: 300px;
  overflow: hidden;
}

.social img {
  height: auto;
  width: 15px;
  padding: 5px 3px; 
}

.social a{
  text-decoration: none;
}