html {
  font-size: 14px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: 'Raleway', sans-serif; 
  background-color: #FFFF;
 }

.titles {
	color: #00539F
	font-size: 24px;
	letter-spacing: 2px; 
	text-align: center;
	margin: 0;
  padding: 5px;
}

.text {
	color: #00539F;
	font-size: 16px;
  text-align: center;
	line-height: 2;
	font-family: 'Raleway', sans-serif;
  padding: 5px;
}

.madi {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  padding: 10px;
}

.subtitle {
  text-align: center;
}

body {
  text-align: center;
}